@tailwind base;
@tailwind components;
@tailwind utilities;


@import "../styles/button.css";
@import "../styles/typography.css";
@import "../styles/form.css";

@import '@fontsource/poppins/400.css';
@import '@fontsource/poppins/600.css';
@import '@fontsource/poppins/700.css';



:root {
  --primary: #682bd7;
  --secondary: #1F317C;
  --tertiary: #A86FA8;
  --black: #1a1a1a;
  --grey: #e9e9e9;
  --border-primary: 5px;
}

body {
    font-family: 'Poppins', sans-serif;
    color: #ffffff70;
    background: var(--black);
}

@media (hover: hover) and (pointer: fine) {
  html, body {
    cursor: none;
  }

  a, button, [role="button"], input, textarea, select, label, summary,
  [data-cursor="hover"], [data-cursor="click"] {
    cursor: none;
  }
}


.container {
  @apply px-4 w-full max-w-[1312px] mx-auto;
}

.card { @apply border border-grey rounded-2xl p-4 bg-white shadow-sm; }
.label { @apply block font-semibold mb-1 text-sm; }

.site-pagination .swiper-pagination-bullet {
    background: white;
    height: 8px;
    width: 8px;
    border-radius: 9999px;
    transition: all 0.3s ease;
    margin:0 !important;
    opacity: 1 !important;

}
.site-pagination .swiper-pagination-bullet-active {

    width: 16px;
    opacity: 1;

    @apply
    bg-primary
    ;
}